<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Professores indisponíveis</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/professoresInexistentes.css">
    </head>
    <body>
        <div>
            <p> Não existem professores cadastrados nessa matéria ainda! </p>
            <a href="/listarMaterias">Escolher outra matéria</a>
        </div>
    </body>
</html>