
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chats indisponíveis</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/semMateria.css">
    </head>
    <body>
        <div>
            <p> Você ainda não possui nenhum chat nessa matéria! </p>
            <a href="/listarMateriasLecionadas/<%= id_professor %>">Voltar</a>
        </div>
    </body>
</html>