
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Não autorizado</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/erro.css">
    </head>
    <body>
        <div class="div-erro">
            <p> Você não tem permissão para acessar esta página </p>
            <a href="/">Voltar para o ínicio</a>
        </div>
    </body>
</html>