<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Há</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script src="/scripts/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="/css/chatAluno.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    </head>
    <body>
        <p><% sessao %></p> 
        <% console.log(sessao); %>
        <form id="chat">
            <p>Professor(a): <%= sessao.dadosProfessor.nomeProfessor %></p>
            <div id="messages">
                
            </div>
            <input type="text" name="message" placeholder="Mensagem">
            <button type="submit">Enviar</button>
        </form>
        
        <script type="text/javascript">
            console.log('aqui');
            console.log(sessao);
            let socket = io("http://localhost:3000"); //inicio um socket para o aluno
            let id_aluno = sessao.dadosAluno.aluno.id_aluno;
            let id_professor = sessao.dadosProfessor.id_professor;

            console.log("Ids do aluno e professor: ", id_aluno, id_professor);

            function renderMessage(message){
                $('#messages').append('<div class="message"><strong>' + message.author + '</strong>: ' + message.message + '</div>');
            }

            socket.on('previousMessages', function(messages){
                for (message of messages){
                    renderMessage(message);
                }
            });

            socket.on('receivedMessage', function (message){
                renderMessage(message);
            });

            $("#chat").submit(function(event){
                event.preventDefault();

                var author = $();
                var message = $('input[name=message]').val();

                if(author.length && message.length){
                    let messageObject = {
                        author: author,
                        message: message
                    };

                    renderMessage(messageObject);

                    socket.emit('sendMessage', messageObject);
                };
            });

            socket.on("getUsers", data =>{
                let html ='';
                for(name of data){
                    console.log("Nome --> ", name);
                }
            });
        </script>
    </body>
</html>