body{
    background-color: white;
}

.hero{
    padding-bottom: 40px;
    padding-top: 20px;
    background-color: #4ABDAC;
    
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: lighter;
    letter-spacing: 2px;
    text-align:center;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 2px;
    text-align:center;
}

.container{
    display: flex;
    float: right;
    position: relative;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 75px;
    border-color:#4ABDAC;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
    margin-right: 15px;
}

.notification{
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    position: relative;
}

.container:hover{
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.container:hover:before, .container:hover:after {
  display: block;
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  background: #FDA8CF;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.container:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}



.container2{
    display: flex;
    float: left;
    position: relative;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    position: left;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 75px;
    border-color:#4ABDAC;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
    margin-right: 15px;
}

.notification2{
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    position: left;
}

.container2:hover{
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.container2:hover:before, .container:hover:after {
  display: block;
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  background: #FDA8CF;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.container2:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}

.button-is-large{
    background-color: white;
    font-size: 1.5rem;
    border-color: #dbdbdb;
    justify-content: center;
    cursor: pointer;
    color: #363636;
    float: right;
}
