<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>TeaChat</title>
			<link rel="stylesheet"  href="/css/style.css">
		</head>
    <body>
    <% console.log(materias) %>
        <div class="menu">
			<a href="http://localhost:3000/estudantes">Listar Estudantes</a><br />
			<a href="http://localhost:3000/insere-estudante">Insere Estudante</a><br /><br />
			<a href="http://localhost:3000/conteudoprogramatico">Listar Conteudo Programatico</a><br />
			<a href="http://localhost:3000/insere-conteudo">Inserir Conteúdo Programático</a><br />
		</div>

	</body>
</html>